@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Lato&family=Prata&family=Raleway:wght@300&family=Secular+One&family=Source+Serif+4:opsz@8..60&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Lato&family=Prata&family=Raleway:wght@300&family=Secular+One&family=Source+Serif+4:opsz@8..60&display=swap');


$fonte-destaque: 'Abril Fatface', cursive;
$fonte-padrao: 'Lato', sans-serif;
$cinza-escuro: #222222;
$turquesa: #319796;
$branco: #F3EFE0;

$info: $turquesa;
$light: $branco;
$dark: $cinza-escuro;

.navbar-brand{
    font-family: $fonte-destaque;
}
@import '~bootstrap/scss/bootstrap.scss';