<nav class="navbar bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="assets\Navbar\cnm_04-PhotoRoom.png-PhotoRoom.png" alt="logo" width="80" height="80" class="d-inline-block align-text-top">
            CineTrip
        </a>

        <form class="d-flex" role="search">
            <div class="input-group mb-3 container-fluid">
                <input type="search" class="form-control" placeholder="Buscar" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Opções</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Filmes</a></li>
                  <li><a class="dropdown-item" href="#">Séries</a></li>
                  <li><a class="dropdown-item" href="#">Atores</a></li>
                </ul>
            </div>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>
